<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/css/style.css" rel="stylesheet" />
    <title>Admin | Funkoshop</title>
  </head>
  <body>
    <!--Inicio Header-->
    <header>
      <nav class="header_nav">
        <picture class="isologo">
          <a href="../index.html">
            <img
              src="../img/branding/logo_light_horizontal.svg"
              alt="Isologo Funkoshop"
            />
          </a>
        </picture>
        <ul class="header_nav_list">
          <li class="header_nav_see_shop">
            <a href="../index.html">VER TIENDA</a>
          </li>
          <li class="header_admin">
            <a href="./admin.html">ADMIN</a>
          </li>
          <li class="header_login">
            <a href="./login.html">LOGIN</a>
          </li>
        </ul>
      </nav>
    </header>
    <!--Fin Header-->
    <!--Inicio Main-->
    <main>
      <div class="admin_product_search">
        <label for="admin_search">
          <picture>
            <img src="../img/icons/search_icon.svg" alt="Search Icon" />
          </picture>
          <input
            id="admin_search"
            name="admin_search"
            class="admin_search"
            type="text"
            placeholder="código, nombre o categoria"
          />
        </label>
      </div>
      <section class="admin_products_list">
        <article class="admin_products_list_header">
          <h1>LISTADO DE PRODUCTOS</h1>
          <div>
            <p>AGREGAR</p>
            <button class="admin_create_list_item">
              <a href="./create.html">
                <img src="../img/icons/plus-icon.svg" alt="Plus Icon" />
              </a>
            </button>
          </div>
        </article>
        <!-- Inicio Lista de Productos -->
        <article class="admin_list_item_container">
          <div class="admin_column_container bold">
            <div class="admin_column_item">ID</div>
            <div class="admin_column_item">Código</div>
            <div class="admin_column_item">Nombre del Producto</div>
            <div class="admin_column_item">Categoria</div>
            <div class="admin_column_item"></div>
            <div class="admin_column_item"></div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">1</div>
            <div class="admin_column_item">STW001001</div>
            <div class="admin_column_item">Baby Yoda Blueball</div>
            <div class="admin_column_item">STAR WARS</div>
            <div class="admin_olumn_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">2</div>
            <div class="admin_column_item">STW001002</div>
            <div class="admin_column_item">Boba Fett Fighter</div>
            <div class="admin_column_item">STAR WARS</div>
            <div class="admin_column_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">3</div>
            <div class="admin_column_item">STW001003</div>
            <div class="admin_column_item">Luke Skylwalker & Grogu</div>
            <div class="admin_column_item">STAR WARS</div>
            <div class="admin_column_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">4</div>
            <div class="admin_column_item">STW001004</div>
            <div class="admin_column_item">Stormtrooper Lightsaber</div>
            <div class="admin_column_item">STAR WARS</div>
            <div class="admin_column_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">5</div>
            <div class="admin_column_item">PKM001001</div>
            <div class="admin_column_item">Charmander Smiley</div>
            <div class="admin_column_item">POKEMON</div>
            <div class="admin_column_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">6</div>
            <div class="admin_column_item">PKM001002</div>
            <div class="admin_column_item">Dragonite Hi!</div>
            <div class="admin_column_item">POKEMON</div>
            <div class="admin_column_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">7</div>
            <div class="admin_column_item">PKM001003</div>
            <div class="admin_column_item">Pidgeotto Flying</div>
            <div class="admin_column_item">POKEMON</div>
            <div class="admin_column_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">8</div>
            <div class="admin_column_item">PKM001004</div>
            <div class="admin_column_item">Pikachu Smiley</div>
            <div class="admin_column_item">POKEMON</div>
            <div class="admin_column_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">9</div>
            <div class="admin_column_item">PKM001005</div>
            <div class="admin_column_item">Vulpix Fancy</div>
            <div class="admin_column_item">POKEMON</div>
            <div class="admin_column_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">10</div>
            <div class="admin_column_item">HPT001001</div>
            <div class="admin_column_item">Harry Potter & Hegwid</div>
            <div class="admin_column_item">HARRY POTTER</div>
            <div class="admin_column_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">11</div>
            <div class="admin_column_item">HPT001002</div>
            <div class="admin_column_item">Herminione Ball Dress</div>
            <div class="admin_column_item">HARRY POTTER</div>
            <div class="admin_column_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">12</div>
            <div class="admin_column_item">HPT001003</div>
            <div class="admin_column_item">Luna Lovegood Lion Mask</div>
            <div class="admin_column_item">HARRY POTTER</div>
            <div class="admin_column_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
          <div class="admin_column_container">
            <div class="admin_column_item">13</div>
            <div class="admin_column_item">HPT001004</div>
            <div class="admin_column_item">Snape Patronus</div>
            <div class="admin_column_item">HARRY POTTER</div>
            <div class="admin_column_item">
              <a href="./edit.html">
                <button class="admin_edit_list_item">
                  <img
                    src="../img/icons/edit_pencil.svg"
                    alt="Edit Pencil Icon"
                  />
                </button>
              </a>
            </div>
            <div class="admin_column_item">
              <button class="admin_delete_list_item">
                <img src="../img/icons/delete_trash.svg" alt="Trash Icon" />
              </button>
            </div>
          </div>
        </article>
        <!-- Fin Lista de Productos -->
      </section>
    </main>
    <!--Fin Main-->
    <!--Inicio Footer-->
    <footer>
      <section class="footer_container">
        <nav class="footer_nav">
          <ul class="footer_nav_list">
            <li class="footer_nav_shop"><a href="./shop.html">SHOP</a></li>
            <li class="footer_nav_register"><a href="./register.html">REGISTRARME</a></li>
            <li class="footer_nav_login"><a href="./login.html">INGRESAR</a></li>
            <li class="footer_nav_contact"><a href="./contact.html">CONTACTO</a></li>
          </ul>
          <picture class="isotipo">

            <img src="../img/branding/isotype.svg" alt="Isotipo Funkoshop" />
          </picture>
        </nav>
      </section>
      <p class="copyright">All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
    <!--Fin Footer-->
  </body>
</html>
