<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../style.css" rel="stylesheet" />
    <title>Admin | Funkoshop</title>
  </head>
  <body>
    <!--Inicio Header-->
    <header>
      <nav>
        <picture>
          <a href="../index.html">
            <img
              src="../img/branding/logo_light_horizontal.svg"
              alt="Isologo Funkoshop"
            />
          </a>
        </picture>
        <ul>
          <li>
            <a href="../index.html">VER TIENDA</a>
          </li>
          <li>
            <a href="./admin.html">ADMIN</a>
          </li>
          <li>
            <a href="./login.html">LOGIN</a>
          </li>
        </ul>
      </nav>
    </header>
    <!--Fin Header-->
    <!--Inicio Main-->
    <main>
      <div class="product_search">
        <label for="admin_search">
          <picture>
            <img src="../img/icons/search_icon.svg" alt="Search Icon" />
          </picture>
          <input
            id="admin_search"
            name="admin_search"
            class="admin_search"
            type="text"
            placeholder="código, nombre o categoria"
          />
        </label>
      </div>
      <section class="products_list">
        <article class="products_list_header">
          <h1>LISTADO DE PRODUCTOS</h1>
          <div>
            <p>AGREGAR</p>
            <button class="create_list_item">
              <a href="./create.html">
                <img src="../img/icons/plus-icon.svg" alt="Plus Icon" />
              </a>
            </button>
          </div>
        </article>
        <!-- Inicio Lista de Productos -->
        <article class="list_items_container">
          <ul class="row_container">
            <li class="row_item">
              <ul class="column_container header_item">
                <li class="column_item">ID</li>
                <li class="column_item">Código</li>
                <li class="column_item">Nombre del Producto</li>
                <li class="column_item">Categoria</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
              </ul>
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">1</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
              </ul>
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">2</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
              </ul>  
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">3</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
              </ul>  
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">4</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
              </ul>  
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">5</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
              </ul>  
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">6</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
              </ul>  
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">7</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
              </ul>  
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">8</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
              </ul>  
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">9</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
              </ul>  
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">10</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
              </ul>  
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">11</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
              </ul>  
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">12</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
              </ul>
            </li>
            <li class="row_item">
              <ul class="column_container">
                <li class="column_item">13</li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item"></li>
                <li class="column_item">
                  <a href="./edit.html">
                    <button class="edit_list_item">
                      <img src="../img/icons/edit_pencil.svg" alt="Edit Pencil Icon">
                    </button>
                  </a>
                </li>
                <li class="column_item">
                    <button class="delete_list_item">
                      <img src="../img/icons/delete_trash.svg" alt="Trash Icon">
                    </button>
                </li>
            </li>
          </ul>
        </article>
        <!-- Fin Lista de Productos -->
      </section>
    </main>
    <!--Fin Main-->
    <!--Inicio Footer-->
    <footer>
      <section>
        <nav>
          <ul>
            <li><a href="./shop.html">SHOP</a></li>
            <li><a href="./register.html">REGISTRARME</a></li>
            <li><a href="./login.html">INGRESAR</a></li>
            <li><a href="./contact.html">CONTACTO</a></li>
          </ul>
          <picture>
            <img src="../img/branding/isotype.svg" alt="Isotipo Funkoshop" />
          </picture>
        </nav>
      </section>
      <p>All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
    <!--Fin Footer-->
  </body>
</html>
