<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin | Funkoshop</title>
  </head>
  <body>
    <!--Inicio Header-->
    <header>
      <nav>
        <picture>
          <a href="../index.html">
            <img
              src="../img/branding/logo_light_horizontal.svg"
              alt="Isologo Funkoshop"
            />
          </a>
        </picture>
        <ul>
          <li>
            <a href="../index.html">VER TIENDA</a>
          </li>
          <li>
            <a href="./admin.html">ADMIN</a>
          </li>
          <li>
            <a href="./login.html">LOGIN</a>
          </li>
        </ul>
      </nav>
    </header>
    <!--Fin Header-->
    <!--Inicio Footer-->
    <footer>
        <section>
          <nav>
            <ul>
              <li><a href="./shop.html">SHOP</a></li>
              <li><a href="./register.html">REGISTRARME</a></li>
              <li><a href="./login.html">INGRESAR</a></li>
              <li><a href="./contact.html">CONTACTO</a></li>
            </ul>
            <picture>
              <img src="../img/branding/isotype.svg" alt="Isotipo Funkoshop" />
            </picture>
          </nav>
        </section>
        <p>All rights reserved 2023 - Funkoshop &copy;</p>
      </footer>
      <!--Fin Footer-->
  </body>
</html>
