<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito | Funkoshop</title>
  </head>
  <body>
    <header>
      <nav>
        <picture>
          <a href="/index.html">
            <img
              src="/img/branding/logo_light_horizontal.svg"
              alt="Isologo Funkoshop"
            />
          </a>
        </picture>
        <ul>
          <li>
            <a href="/views/shop.html">SHOP</a>
          </li>
          <li>
            <a href="/views/contact.html">CONTACTO</a>
          </li>
          <li>
            <a href="/views/login.html">LOGIN</a>
          </li>
          <li>
            <a href="/views/cart.html">
              <img src="/img/icons/cart-icon.svg" alt="Cart Icon" />
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Carrito de compras</h1>
      <div class="cart-table">
        <div class="cart-header">
          <p>Detalle del Producto</p>
          <p>Cantidad</p>
          <p>Total</p>
        </div>
        <div class="cart-product-items">
          <div class="product-item">
            <div class="item-detail">
              <img src="/img//star-wars/baby-yoda-1.webp" alt="baby yoda" />
              <div class="item-description">
                <h3 class="item-title">Baby yoda blueball</h3>
                <p class="item-category">Star Wars</p>
                <p class="item-price">precio: $1799,99</p>
              </div>
            </div>
            <div class="item-quantity">
              <input type="number" name="" id="" />
              <div class="quantity-action">
                <button>
                  <img src="/img/icons/plus-icon.svg" alt="icono agregar" />
                </button>
                <button>
                  <img src="/img/icons/minus-icon.svg" alt="icono quitar" />
                </button>
              </div>
            </div>
            <div class="item-total">
              <p class="item-total-price">$3599,98</p>
            </div>
            <button class="delete-button" aria-label="Eliminar articulo">
              <img src="/img/icons/close-icon.svg" alt="icono eliminar" />
            </button>
          </div>
          <div class="product-item">
            <div class="item-detail">
              <img src="/img/pokemon/pidgeotto-1.webp" alt="baby yoda" />
              <div class="item-description">
                <h3 class="item-title">Pidgeotto</h3>
                <p class="item-category">Pokemon</p>
                <p class="item-price">precio: $1799,99</p>
              </div>
            </div>
            <div class="item-quantity">
              <input type="number" name="" id="" />
              <div class="quantity-action">
                <button>
                  <img src="/img/icons/plus-icon.svg" alt="icono agregar" />
                </button>
                <button>
                  <img src="/img/icons/minus-icon.svg" alt="icono quitar" />
                </button>
              </div>
            </div>
            <div class="item-total">
              <p class="item-total-price">$3599,98</p>
            </div>
            <button class="delete-button" aria-label="Eliminar articulo">
              <img src="/img/icons/close-icon.svg" alt="icono eliminar" />
            </button>
          </div>
        </div>
      </div>

      <div class="cart-summary-wrapper">
        <h2>Resumen</h2>

        <div class="cart-summary">
          <div class="cart-summary-detail">
            <div class="cart-quantity">
              <p>Cantidad de elementos</p>
              <p>3</p>
            </div>
            <div class="cart-subtotal">
              <p>Subtotal</p>
              <p>$5399,97</p>
            </div>
            <div class="cart-shipping">
              <p>Envio</p>
              <p>$0,00</p>
            </div>
          </div>
          <div class="cart-total">
            <p>Total</p>
            <p>$5399,97</p>
          </div>
        </div>

        <a href="#">Ir a pagar</a>
      </div>
    </main>

    <footer>
      <section>
        <nav>
          <ul>
            <li><a href="/views/shop.html">SHOP</a></li>
            <li><a href="/views/login.html">INGRESAR</a></li>
            <li><a href="/views/contact.html">CONTACTO</a></li>
          </ul>
          <picture>
            <img src="/img/branding/isotype.svg" alt="Isotipo Funkoshop" />
          </picture>
        </nav>
      </section>
      <p>All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
  </body>
</html>
