<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Funkoshop</title>
</head>

<body>
  <!--Inicio Header-->
  <header>
    <nav>
      <picture>
        <a href="/index.html">
          <img src="/img/branding/logo_light_horizontal.svg" alt="Isologo Funkoshop" />
        </a>
      </picture>
      <ul>
        <li>
          <a href="/views/shop.html">SHOP</a>
        </li>
        <li>
          <a href="/views/contact.html">CONTACTO</a>
        </li>
        <li>
          <a href="/views/login.html">LOGIN</a>
        </li>
        <li>
          <a href="/views/cart.html">
            <img src="/img/icons/cart-icon.svg" alt="Cart Icon" />
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <!--Fin Header-->
  <!--Inicio Main-->
  <main>
    <!--Inicio Section superior-->
    <section>
      <picture>
        <img src="/img/star-wars/baby-yoda-1.webp" alt="Funko Baby Yoda" />
      </picture>
      <article>
        <p>STAR WARS</p>
        <h3>BABY YODA BLUEBALL</h3>
        <p>
          Figura coleccionable de Baby Yoda (Grogu) - The Mandalorian Saga, edición limitada.
        </p>
        <p>$ 1799,99</p>

        <div>
          <input type="number" value="0" min="0" inputmode="numeric">
          <button>+</button>
          <button>-</button>

          <button>Agregar al Carrito</button>

        </div>

        <a href="#">
        <p>Ver metodos de pago - 3 CUOTAS SIN INTERÉS</p>
        <a>
      </article>
    </section>
    <!--Fin Section superior-->
    <!--Inicio Section Productos Relacionados-->
    <section>
      <h2>PRODUCTOS RELACIONADOS</h2>
      <ul>
        <li>
          <article>
            <a href="/views/shop.html">
              <picture>
                <img src="/img/star-wars/trooper-1.webp" alt="Funko Stormtrooper" />
                <div>NUEVO</div>
              </picture>
              <div>
                <p>STAR WARS</p>
                <h4>STORMTROOPER LIGHTSABER</h4>
                <p>$ 1799,99</p>
                <p>3 CUOTAS SIN INTERÉS</p>
              </div>
            </a>
          </article>
        </li>
        <li>
          <article>
            <a href="/views/shop.html">
              <picture>
                <img src="/img/pokemon/pidgeotto-1.webp" alt="Funko Pidgeotto" />
                <div>NUEVO</div>
              </picture>
              <div>
                <p>POKEMON</p>
                <h4>PIDGEOTTO</h4>
                <p>$ 1799,99</p>
                <p>3 CUOTAS SIN INTERÉS</p>
              </div>
            </a>
          </article>
        </li>
        <li>
          <article>
            <a href="/views/shop.html">
              <picture>
                <img src="/img/harry-potter/luna-1.webp" alt="Funko Luna Lovegood Lion Mask" />
                <div>NUEVO</div>
              </picture>
              <div>
                <p>HARRY POTTER</p>
                <h4>LUNA LOVEGOOD LION MASK</h4>
                <p>$ 1799,99</p>
                <p>3 CUOTAS SIN INTERÉS</p>
              </div>
            </a>
          </article>
        </li>
      </ul>
    </section>
    <!--Fin Section Productos Relacionados-->

  </main>
  <!--Fin Main-->
  <!--Inicio Footer-->
  <footer>
    <section>
      <nav>
        <ul>
          <li><a href="/views/shop.html">SHOP</a></li>
          <li><a href="/views/login.html">INGRESAR</a></li>
          <li><a href="/views/contact.html">CONTACTO</a></li>
        </ul>
        <picture>
          <a href="/index.html">
            <img src="/img/branding/logo_light_horizontal.svg" alt="Isologo Funkoshop" />
          </a>
        </picture>
      </nav>
    </section>
    <p>All rights reserved 2023 - Funkoshop &copy;</p>
  </footer>
  <!--Fin Footer-->
</body>

</html>