<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro | Funkoshop</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/index.html">
          <picture>
            <img
              src="/img/branding/logo_light_horizontal.svg"
              alt="Isologo Funkoshop"
            />
          </picture>
        </a>
        <ul>
          <li>
            <a href="/index.html">VER TIENDA</a>
          </li>
          <li>
            <a href="/views/">ADMIN</a>
          </li>
          <li>
            <a href="/views/">SALIR</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Crea tu cuenta</h1>
      <p>Completa el formulario para ser parte del mundo de los Funkos</p>

      <form>
        <div class="input-wrapper">
          <label for="name"
            >Nombre: <input id="name" type="text" placeholder="Jhon"
          /></label>
          <label for="lastname"
            >Apellido: <input id="lastname" type="text" placeholder="Doe"
          /></label>
          <label for="email"
            >Email:
            <input id="email" type="email" placeholder="jhondoe@correo.com"
          /></label>
          <label for="password"
            >Contraseña<input
              id="password"
              type="password"
              placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
          /></label>
          <label for="repeat-password"
            >Repita Contraseña<input
              id="repeat-password"
              type="password"
              placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;"
          /></label>
        </div>
        <div class="submit-wrapper">
          <button type="submit">Registrar</button>
          <label for="terms"
            ><input type="checkbox" name="" id="terms" /> Acepto
            <a href="#">Términos y Condiciones</a>
          </label>
        </div>
      </form>
    </main>

    <footer>
      <nav>
        <ul>
          <li><a href="/views/shop.html">SHOP</a></li>
          <li><a href="/views/register.html">REGISTRARSE</a></li>
          <li><a href="/views/login.html">INGRESAR</a></li>
          <li><a href="/views/contact.html">CONTACTO</a></li>
        </ul>
        <picture>
          <img src="/img/branding/isotype.svg" alt="Isotipo Funkoshop" />
        </picture>
      </nav>

      <p>All rights reserved 2023 - Funkoshop &copy;</p>
    </footer>
  </body>
</html>
