.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-36) 0;
}

.contact-head_content {
    flex-direction: column;
    align-items: center;
    font-family: var(--alternative-font);
    color: var(--dark-solid);
    display: flex;
}

.contact-title {
    font-size: var(--font-display);
    font-weight: 700;
} 

