/* estilo para admin */
.row_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* estilo para admin y admin2 */
.column_container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 13px 147px 236px 153px 32px 34px;
  gap: 10px;
}