.search {
    padding: var(--spacing-36) 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.search_content {
    display: grid;
    grid-template-columns: 1fr 11fr;
    justify-items: stretch;
    align-items: center;
}

.search_link {
    display: grid;
    justify-content: center;
}

.search_link img {
    color: var(--dark-solid);
}

.search_input {
    padding: var(--spacing-8) var(--spacing-24);
    font-size: var(--font-medium);
    font-family: var(--base-font);
    color: var(--dark-solid);
    border: .2rem solid var(--dark-grey-variant2);
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}

.search_input::placeholder { 
    color: var(--light-grey); 
    font-weight: 500;
}

.list_header {
    padding: 0 var(--spacing-128) var(--spacing-36) 0;
    display: grid;
    grid-template-columns: 8fr 4fr;
    align-items: center;
    justify-items: stretch;
}

.list_title {
    font-family: var(--alternative-font);
    font-weight: 700;
    color: var(--dark-solid);
    font-size: var(--font-display);
}

.list-add {
    display: grid;
    grid-template-columns: 6fr 1fr;
    align-items: center;
    justify-items: end;
}

.list-add_text {
    font-size: var(--font-xlarge);
    font-weight: 700;
}

.list-add_link {
    background-color: var(--primary-solid);
    display: inline-block;
    padding: var(--spacing-8);
    width: 3.6rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

img {
    display: flex;
    align-content: center;
    background-color: inherit;
}

.list_item {
    display: grid;
    align-content: center;
    justify-content: center;
}

.list-item_content {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 3fr 1fr 1fr; 
    gap: ;
}