main {
  margin: 2%;
}

.title-edit {
  font-size: var(--font-xlarge);
  font-weight: 700;
}

.form-sub-container {
  font-size: var(--font-medium);
  padding: var(--spacing-12) var(--spacing-24) var(--spacing-12) var(--spacing-24);
}

.categoria-select,
.licencia-select,
.cuota-select {
  font-size: var(--font-medium);
  margin-right: var(--spacing-24);
  min-width: 150px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='40' viewBox='0 0 24 24' width='35' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 3rem;
  padding: 1rem;
  padding-right: 3rem;
}

.input-wrapper {
  display: flex;
}

.input-wrapper label {
  color: var(--dark-admin-font);
  font-size: var(--font-medium);
  display: flex;
  justify-content: space-between;
  margin-right: var(--spacing-24);
  align-self: center;
}

.input-wrapper input::placeholder,
.input-wrapper input {
  color: var(--light-grey);
}

.input-wrapper input {
  border: none;
  font-size: var(--spacing-16);
  border-bottom: 2px solid var(--primary-solid);
  height: 40px;
  align-self: center;
}

.input-wrapper input:focus {
  outline: none;
  color: black;
}

.product_description {
  resize: none;
  width: 80%;
  border-radius: 5px;
  border: 1px solid gainsboro;
  padding: 1%;
}

.form-container-selects{
  display: flex;
  justify-content: space-space-evenly;
  margin-top: var(--spacing-12);
}

.card-gallery{
  background-color: gainsboro;
  padding: var(--spacing-12) 0 var(--spacing-12) 0;
  height: 100px;
  width: 100px;
  border-bottom: 2px solid var(--primary-solid);
}

.btn-primary {
  text-transform: unset;
  padding: 1.2rem 2.5rem;
}

fieldset {
  border: 0;
}