/*card figure item*/

.figure_container{
  display: flex;
  flex-direction: row;
  margin: 60px 100px;
}


.figure_picture{
  width: 44%;
  margin-right: 90px;

}

.figure_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 10% 0px;

}


.figure_licence {
  font-size: var(--font-xsmall);
  font-weight: 500;
}


.figure_title {
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  margin-top: 10px;
}

.figure_text{
  font-size: var(--font-large);
  font-weight: 400;
  margin-top: 15px;
}


.figure_name {
  font-size: var(--font-medium);
  font-weight: 700;
}

.figure_price {
  font-size: var(--font-jumbo);
  margin-top: 15px;

}

.item__cart{
  display: flex; 
  margin-top: 20px;
}

.item__input{
  width: 110px;
  margin-right: 10px;
  text-align: center;
  border: 2px solid rgb(231, 231, 231);
  font-size: var(--font-large);
  color: #808080;
}

.container__buttons{
  display: flex;
  flex-direction: column; 
}

.item__quantity{
background-color:#585858;
color: var(--light-bg-solid);
height: 45%;
width: 15px;
border: none;
margin-bottom: 4px;
}

.submit{
  margin-left: 25px;
  width: 32%;
  background-color: var(--primary-solid);
  color: var(--light-bg-solid);
  border: none;
  font-size: var(--font-medium);

}

.figure_link{
  margin-top: 20px;
  font-size: 1.5rem;
  color: var(--secondary-solid);
  font-weight: 700;
}


.figure_link a{
  text-decoration:underline;
  font-size: 1.5rem;
}

